md-card-content{
	vertical-align: middle;
	text-align: center;
}

md-card-content h1{
	padding: 25px;
}
.bien md-card-content{
	background-color: #8BC34A
}
.bien md-card-content h1{
	color: #212121
}
.bien md-card-actions{
	color: #8BC34A
}

.bien:hover md-card-content{
	background-color: #689F38;
	text-decoration:none; 
}

.regular md-card-content{
	background-color: #FFC107
}
.regular md-card-content h1{
	color: #212121
}
.regular md-card-actions{
	color: #FFC107
}
.regular:hover md-card-content{
	background-color: #FFA000;
	text-decoration:none; 
}

.mal md-card-content{
	background-color: #F44336;
	background-image: url("assets/flame.gif");
	background-size:     cover;                      /* <------ */
}
.mal md-card-content h1{
	color: #212121;
}
.mal md-card-actions{
	color: #F44336
}
.mal:hover md-card-content{
	background-color: #D32F2F;
}

a.noSubrayado:hover {
	text-decoration:none
}

a.noSubrayado {
	text-decoration:none
}

.addCard{
	background-color: #009688;
	vertical-align: middle
}
.addCard h1{
	color: #FFFFFF;
	margin: 0px
}
.addCard:hover{
	background-color: #00796B;
	color: #B2DFDB;
	cursor: pointer
}

.md-36{
	font-size: 36px
}

.grow h1 i{ 
	transition: all .2s ease-in-out; 
}
.grow:hover h1 i{ 
	transform: scale(2);
}

.rotate .rota{ 
	transition: all 5s ease-in-out; 
}
.rotate:hover .rota{ 
	transform: rotate(3600deg)
}
