<div class="container-fluid">
  <div class="col-xs-4 offset-xs-4 ">
    <div class="lightBlueBackground card"> 
      <div class="card-header"><h1>Nuevo Proyecto</h1></div>
          <div class="card-block">
          <div class="form-group">
            <label for="Usuario">Usuario</label>
            <input type="text" class="form-control" id="Usuario" placeholder="Ingrese el usuario">
          </div>
          <div class="form-group">
            <label for="Password">Password</label>
            <input type="password" class="form-control" id="Password" placeholder="Ingrese su contraseña">
          </div>
          <a href="#" class="btn btn-primary">Crear</a>
      </div>   
    </div>
  </div>
</div>
