<div>
  <md-card class="login">
    <md-toolbar color="accent">Login</md-toolbar>
    <md-card-content>
      <p>  
        <md-input placeholder="Usuario/Correo" style="width: 100%" [(ngModel)]="user">
          <md-hint style="color:red" align="end">{{mensaje}}</md-hint>
        </md-input>
      </p>
      <p>
        <md-input placeholder="Contraseña" type="password" style="width: 100%" [(ngModel)]="password"></md-input>
      </p>
    </md-card-content>
    <md-card-actions align="middle">
      <button md-raised-button color="primary" (click)="mostrarUsuarioPassword()">Entrar</button>
    </md-card-actions>
  </md-card>
</div>