<md-card class="container">
  <div class="row">
    <md-progress-bar mode="determinate" color="primary" [value]="(progress/3)*100"></md-progress-bar>
  </div>

  <div class="row">
    <div><button md-mini-fab disabled>1</button>-Datos iniciales</div>
    <div><button md-mini-fab disabled>2</button>-Datos del equipo</div>
    <div><button md-mini-fab disabled>3</button>-Carga inicial</div>
  </div>

  <div [ngClass]="paso1">
    <div class="row">
      <h1>Contanos un poco de {{id}}!</h1>
    </div>  
    
    <div class="rowLeft">
      1)Quien es el Lider del lado del cliente?
    </div>
    <div class="rowLeft">
      <div class="input"><md-input placeholder="Nombre y Apellido" class="input"></md-input></div>
    </div>

    <div class="rowLeft">
      2)Cuanto dura el proyecto?
    </div>
    <div class="rowLeft">
      <div class="input2 clickable" (click)="openDateFrom()">
        <md-input placeholder="Fecha de Incio" [(ngModel)]="dateFromInput" disabled class="input"></md-input>
      </div>
      <div class="input2 clickable" (click)="openDateTo()">
        <md-input placeholder="Fecha de Fin" [(ngModel)]="dateToInput" disabled class="input"></md-input>
      </div>
    </div>

    <div class="rowLeft">
    4)Como es la relacion con el cliente?
    </div>
    <div class="rowLeft"> 
      <md-button-toggle-group name="status">
        <md-button-toggle value="bien" (color)="warn">
          <md-icon fontSet="emoji" class="fa-2x" fontIcon="em-heart_eyes"></md-icon>
        </md-button-toggle>
        <md-button-toggle value="bien" (color)="warn">
          <md-icon fontSet="emoji" class="fa-2x" fontIcon="em-confused"></md-icon>
        </md-button-toggle>
        <md-button-toggle value="bien" (color)="warn">
          <md-icon fontSet="emoji" class="fa-2x" fontIcon="em-fire"></md-icon>
        </md-button-toggle>
      </md-button-toggle-group>
    </div>

    <div class="rowLeft">
      5)Que aplicaciones conforman tu proyecto?
    </div>
    <div class="rowLeft">
      <md-input placeholder="Nombre" [(ngModel)]="appNombreInput" class='input'></md-input>
    </div>
    <div class="rowLeft">
      <multi-select #tecs class="input"></multi-select>
    </div>
    <div class="row">
      <button md-mini-fab (click)="addApp(tecs)" color="primary">
          <md-icon class="md-24">add</md-icon>
      </button>
    </div>

    <div class="rowLeft input">
      <md-list class="input">
        <md-divider></md-divider>
        <span  *ngFor="let app of apps">
          <md-list-item>
            <button md-mini-fab md-list-avatar (click)="removeApp(app.nombre)" color="warn">
              <md-icon class="md-24">delete</md-icon>
            </button>
            <h3 md-line> {{app.nombre}} </h3>
            <p md-line> {{app.tecnologias}} </p>
          </md-list-item>
          <md-divider></md-divider>
        </span>
      </md-list>
    </div>
  </div>

  <div [ngClass]="paso2">
    <div class="row">
      <h1> Contanos del equipo de {{id}}!</h1>
    </div>
    <div class="rowLeft">
      1)Cuantas colaboradores conforman el equipo?
    </div>
    <div class="rowLeft">
      <div class="input"><md-input placeholder="Asignados" type="number" class="input"></md-input></div>
      <div class="input"><md-input placeholder="PS" type="number" class="input"></md-input></div>
    </div>
    <div class="rowLeft">
      2)Cual es la tasa de rotacion promedio?
    </div>
    <div class="rowLeft">
      <div class="input">
        <md-input placeholder="Rotacion" type="number" class="input">
          <span md-suffix>%</span>
        </md-input>
      </div>
    </div>
    <div class="rowLeft">
      3)Como esta el animo de los colaboradores?
    </div>
    <div class="rowLeft">
     <md-button-toggle-group name="humor">
       <md-button-toggle value="bien" (color)="warn">
          <md-icon fontSet="emoji" class="fa-2x" fontIcon="em-heart_eyes"></md-icon>
        </md-button-toggle>
        <md-button-toggle value="bien" (color)="warn">
          <md-icon fontSet="emoji" class="fa-2x" fontIcon="em-smile"></md-icon>
        </md-button-toggle>
        <md-button-toggle value="bien" (color)="warn">
          <md-icon fontSet="emoji" class="fa-2x" fontIcon="em-grin"></md-icon>
        </md-button-toggle>
        <md-button-toggle value="bien" (color)="warn">
          <md-icon fontSet="emoji" class="fa-2x" fontIcon="em-no_mouth"></md-icon>
        </md-button-toggle>
        <md-button-toggle value="bien" (color)="warn">
          <md-icon fontSet="emoji" class="fa-2x" fontIcon="em-neutral_face"></md-icon>
        </md-button-toggle>
        <md-button-toggle value="regular">
            <md-icon fontSet="emoji" class="fa-2x" fontIcon="em-expressionless"></md-icon>
        </md-button-toggle>
        <md-button-toggle value="regular">
            <md-icon fontSet="emoji" class="fa-2x" fontIcon="em-angry"></md-icon>
        </md-button-toggle>
        <md-button-toggle value="mal">
            <md-icon fontSet="emoji" class="fa-2x" fontIcon="em-rage"></md-icon>
        </md-button-toggle>
      </md-button-toggle-group>
    </div>
  </div>

  <div [ngClass]="paso3">
    <div class="row">
      <h1> Vamos a hacer el primer reporte de {{id}}!</h1>
    </div>

    <div class="rowLeft">
      1)Cuales fueron las principales activdades de la semana?
    </div>
    <div class="rowLeft">
      <div class="input">
        <md-input placeholder="Descripcion"  class="input" #actividadInput></md-input>
      </div>
      <div><button md-mini-fab color="primary" (click)="addActividad(actividadInput)"><md-icon class="md-24">add</md-icon></button></div>
    </div>
    <div class="rowLeft listwrap">
      <md-list>
        <md-list-item *ngFor="let actividad of actividades">
          <button md-mini-fab color="warn" (click)="removeActividad(actividad)"><md-icon class="md-24">delete</md-icon></button>
          {{actividad}}
        </md-list-item>
      </md-list>
    </div>

    <div class="rowLeft">
      2)Cuales son los riesgos que tiene el proyecto?
    </div>
    <div class="rowLeft">
      <div class="input">
        <md-input placeholder="Descripcion" class="input" [(ngModel)]="descIssue"></md-input>
      </div>
    </div>
    <div class="rowLeft">
      <div class="input">
        <md-input placeholder="Acciones" class="input" [(ngModel)]="accionIssue"></md-input>
      </div>
    </div>

    <div class="rowLeft">
      <div class="input2 clickable" (click)="openDateIssue()">
        <md-input placeholder="Fecha de vencimiento" [(ngModel)]="dateIssueInput" disabled class="input"></md-input>
      </div>
      <div class="input2">
        <md-input placeholder="GDM" class="input" [(ngModel)]="gdmIssue"></md-input>
      </div>
    </div>

    <div class="row">
      <button md-mini-fab (click)="addIssue()" color="primary">
          <md-icon class="md-24">add</md-icon>
      </button>
    </div>

    <div class="rowLeft listwrap">
      <md-list>
        <md-list-item *ngFor="let issue of issues">
          <button md-mini-fab color="warn" (click)="removeIssue(issue)"><md-icon class="md-24">delete</md-icon></button>
          {{issue.gdm}}-
          {{issue.descripcion}}-
          {{issue.accion}}-
          {{issue.fecha}}
        </md-list-item>
      </md-list>
    </div>

  </div>

  <div class="row">
    <div><button md-raised-button color="warn" (click)="back()">Atras</button></div>
    <div><button md-raised-button color="primary" (click)="next()">Siguiente</button></div>
  </div>

</md-card>

<div class='modal container' [(ngClass)]="dateFrom">
  <div class="content">
  <md-card style="padding: 0;">
    <calendario (pick)='setFromDateValue($event)'></calendario>
    <div class="rowEnd">
      <button md-raised-button color="warn" (click)="closeFrom()">Cancelar</button>
    </div>
  </md-card>
  </div>
</div>

<div class='modal container' [(ngClass)]="dateTo">
  <div class="content">
    <md-card style="padding: 0;">
      <calendario (pick)='setToDateValue($event)'></calendario>
      <div  class="rowEnd">
        <button md-raised-button color="warn" (click)="closeTo()">Cancelar</button>
      </div>
    </md-card>
  </div>
</div>

<div class='modal container' [(ngClass)]="dateIssue">
  <div class="content">
    <md-card style="padding: 0;">
      <calendario (pick)='setIssueDate($event)'></calendario>
      <div  class="rowEnd">
        <button md-raised-button color="warn" (click)="closeIssue()">Cancelar</button>
      </div>
    </md-card>
  </div>
</div>

