<md-card class="container">
  <div class="row">
    <md-progress-bar mode="determinate" color="primary" [value]="(progress/3)*100"></md-progress-bar>
  </div>

  <div class="row">
    <div><button md-mini-fab disabled>1</button>-Datos iniciales</div>
    <div><button md-mini-fab disabled>2</button>-Datos del equipo</div>
    <div><button md-mini-fab disabled>3</button>-Carga inicial</div>
  </div>

  <app-wizard-paso1 [proyectoId]='id' [ngClass]="paso1"></app-wizard-paso1>
  <app-wizard-paso2 [proyectoId]='id' [ngClass]="paso2"></app-wizard-paso2>
  <app-wizard-paso3 [proyectoId]='id' [ngClass]="paso3"></app-wizard-paso3>
  
  <div class="row">
    <div><button md-raised-button color="warn" (click)="back()">Atras</button></div>
    <div><button md-raised-button color="primary" (click)="next()">Siguiente</button></div>
  </div>

</md-card>