<div>
  <md-card class="nproy">
    <md-toolbar color="accent">Nuevo Proyecto</md-toolbar>
    <md-card-content>
      <p>  
        <md-input placeholder="Codigo del proyecto" style="width: 25%">
          <md-hint style="color:red" align="end">{{mensaje}}</md-hint>
        </md-input>
        <md-input placeholder="Nombre del proyecto" style="width: 70%"></md-input>
      </p>
      <p>
        <md-input placeholder="Lider/Referete del proyecto" style="width: 40%" ></md-input>
        <md-input placeholder="Email del lider/referente" style="width: 55%" [(ngModel)]="email" type="email"></md-input>
      </p>
    </md-card-content>
    <md-card-actions align="end">
      <button md-raised-button color="primary" (click)="crearProyecto()">Crear</button>
      <button md-raised-button color="warn" routerLink="/menu">Cancelar</button>
    </md-card-actions>
  </md-card>
</div>