<div class="container-fluid blueBackground">
  <div class="col-xs-6 offset-xs-3 ">
    <div class="lightBlueBackground card"> 
      <div class="card-header"><h1>Nuevo Proyecto</h1></div>
          <div class="card-block">
          <div class="form-group">
            <label for="CodigoProyecto">Codigo del proyecto</label>
            <input type="text" class="form-control" id="CodigoProyecto" aria-describedby="proyHelp" placeholder="Ingrese el codigo del proyecto">
            <small id="proyHelp" class="form-tex">PNOCH01, QOSDE01, etc...</small>
          </div>
          <div class="form-group">
            <label for="NombreProyecto">Nombre del proyecto</label>
            <input type="text" class="form-control" id="NombreProyecto" aria-describedby="nombHelp" placeholder="Ingrese el nombre del proyecto">
            <small id="proyHelp" class="form-text">frete de atencion o algo asi</small>
          </div> 
          <div class="form-group">
            <label for="liderReferente">Lider/Referete del proyecto</label>
            <input type="text" class="form-control" id="liderReferente" aria-describedby="proyHelp" placeholder="Ingrese el Lider/Referente">
            <small id="proyHelp" class="form-text">asdasd</small>
          </div>
          <div class="form-group">
            <label for="emailref">Email del lider/referente</label>
            <input type="email" class="form-control" id="emailref" aria-describedby="proyHelp" placeholder="Ingrese el Lider/Referente">
            <small id="proyHelp" class="form-text">asdasd</small>
          </div>
          <a href="#" class="btn btn-primary">Crear</a>
      </div>   
    </div>
  </div>
</div>