
<md-toolbar color="primary" style=" position: fixed;z-index:1">
  <span>Salud Proyectos</span>
  <button md-raised-button routerLink="/menu" [disabled]="menuActive" *ngIf="logged" color="primary" class="toolbarButton">Menu</button>
  <span class="fill-remaining-space"></span>
  <button md-icon-button [md-menu-trigger-for]="menu" *ngIf="logged">
    <md-icon>more_vert</md-icon>
  </button>
</md-toolbar>

<md-menu  #menu="mdMenu" x-position="before">
    <button md-menu-item> Cancelar </button>
    <button md-menu-item routerLink="/miPerfil" [disabled]="perfilActive"> Opciones </button>
    <button md-menu-item (click)="logout()"> Salir</button>
</md-menu>


