<div class="container">
  <div class="header">
    <div class="row">
      <button md-button (click)='downMonth()'><md-icon>keyboard_arrow_left</md-icon></button>
      <h1>{{getMonth()}}</h1>
      <button md-button (click)='upMonth()'><md-icon>keyboard_arrow_right</md-icon></button>
    </div>
    <div class="row">
      <button md-button (click)='downYear()'><md-icon>keyboard_arrow_left</md-icon></button>
      <h3>{{date.getFullYear()}}</h3>
      <button md-button (click)='upYear()'><md-icon>keyboard_arrow_right</md-icon></button>
    </div>
  </div>

  <div class="row">
      <button md-button disabled class="day">Dom</button>
      <button md-button disabled class="day">Lun</button>
      <button md-button disabled class="day">Mar</button>
      <button md-button disabled class="day">Mie</button>
      <button md-button disabled class="day">Jue</button>
      <button md-button disabled class="day">Vie</button>
      <button md-button disabled class="day">Sab</button>
  </div>

  <div class="row">
     <button md-button *ngFor="let day of days1" class="day" [disabled]='day==0' value="day" (click)='selectDate(day)'>{{day==0? " ":day}}</button>
  </div>

  <div class="row">
     <button md-button *ngFor="let day of days2" class="day" (click)='selectDate(day)'>{{day}}</button>
  </div>

  <div class="row">
     <button md-button *ngFor="let day of days3" class="day" (click)='selectDate(day)'>{{day}}</button>
  </div>

  <div class="row">
     <button md-button *ngFor="let day of days4" class="day" (click)='selectDate(day)'>{{day}}</button>
  </div>

  <div class="row">
     <button md-button *ngFor="let day of days5" class="day" [disabled]='day==0' (click)='selectDate(day)'>{{day==0? " ":day}}</button>
  </div>

  <div class="row">
     <button md-button *ngFor="let day of days6" class="day" [disabled]='day==0' (click)='selectDate(day)'>{{day==0? " ":day}}</button>
  </div>

</div>
